[Unit]
Description=Forard ports
Wants=network-online.target
After=network.target network-online.target
 
[Service]
Type=forking
ExecStart={{INSTALL_DIR}}/port_forwarding/port_forwarding.sh {{DEPLOYMENT_TARGET}}
 
[Install]
WantedBy=multi-user.target